<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ibase4j.dao.sys.SysPermissionExpandMapper">
	
	<select id="query" resultType="java.lang.Integer">
		select id_ from sys_permission where 1=1
		<if test="keyword != null">
			and (permission_name like CONCAT('%',#{keyword},'%') or permission_url like CONCAT('%',#{keyword},'%') )
		</if>
	</select>
	<select id="getPermissionByUserId" resultType="java.lang.Integer">
		select count(1) from sys_permission p
		where p.permission_url=#{url}
		and (exists (select 1 from sys_user_role ur
		join sys_role_permission rp on ur.role_id=rp.role_id
		 where ur.user_id=#{userId} and rp.permission_id=p.id_)
		or exists (select 1 from sys_user_permission up
		 where up.user_id=#{userId} and up.permission_id=p.id_))
	</select>
</mapper>