<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ibase4j.dao.sys.SysUserExpandMapper">
	<select id="query" parameterType="java.util.Map" resultType="java.lang.Integer">
		select id_ from sys_user where 1=1
		<if test="enable != null">and enable_=#{enable}</if>
		<if test="account != null">and account_=#{account}</if>
		<if test="password != null">and password_=#{password}</if>
		<if test="keyword != null">
			and (account_ like CONCAT('%',#{keyword},'%') or user_name like CONCAT('%',#{keyword},'%') or phone_ like CONCAT('%',#{keyword},'%'))
		</if>
	</select>
	<select id="queryUserIdByThirdParty" >
		select user_id from sys_user_thirdparty where 
		provider_=#{provider} and open_id=#{openId}
	</select>
</mapper>