<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysMenuMapper">
	<select id="selectIdPage" parameterType="java.util.Map" resultType="java.lang.Long">
		select id_ from sys_menu
		<where>
			<if test="cm.parentId != null">
				and parent_id = #{parentId}
			</if>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (menu_name like CONCAT('%',#{cm.keyword},'%') or request_ like CONCAT('%',#{cm.keyword},'%'))
			</if>
		</where>
		<if test="cm.orderBy != null">
			order by ${cm.orderBy}
		</if>
	</select>
	<select id="getPermissions" resultType="java.util.Map">
		select CONCAT(m.id_, code_) as value, CONCAT(menu_name, code_text) as text
		from sys_menu m
		join sys_dic_index di on  di.key_='CRUD'
		join sys_dic d on d.index_id=di.id_
		order by m.id_
	</select>
</mapper>