<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysNoticeMapper">
	<select id="selectIdPage" resultType="java.lang.Long">
		select id_ from sys_notice
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (notice_title like CONCAT('%',#{cm.keyword},'%') or content_ like CONCAT('%',#{cm.keyword},'%'))
			</if>
		</where>
	</select>
</mapper>
