<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysParamMapper">
  	<select id="selectIdPage" parameterType="java.util.Map" resultType="java.lang.Long">
		select id_ from sys_param
		<where>
			<if test="cm.keyword != null">
				and param_key like CONCAT('%',#{cm.keyword},'%')
			</if>
		</where>
	</select>
</mapper>