<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysRoleMenuMapper">
	<select id="queryMenuIdsByRoleId" resultType="java.lang.Long">
  	select distinct menu_id from sys_role_menu where role_id=#{roleId} and permission_='read'
  </select>
  <select id="queryPermissions" resultType="java.util.Map">
  	select menu_id menuId,permission_ permission
  	from sys_role_menu
	where role_id=#{roleId}
  </select>
	<select id="queryPermission" resultType="java.lang.String">
		select CONCAT(menu_name,'(', GROUP_CONCAT(code_text), ')')
		from
		sys_role_menu rm
		join sys_menu m on rm.menu_id=m.id_
		join sys_dic d on rm.permission_=d.code_ and d.type_='CRUD'
		<where>
			<if test="roleId != null">
				rm.role_id=#{roleId}
			</if>
		</where>
		group by menu_name
		order by menu_id
	</select>
</mapper>