<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysUserThirdpartyMapper">
	<select id="queryUserIdByThirdParty" >
		select user_id from sys_user_thirdparty where 
		provider_=#{provider} and open_id=#{openId}
	</select>
</mapper>