<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">
	<properties>
		<property name="LOG_HOME">${logs.path}</property>
		<!-- 日志备份目录 -->
		<property name="SERVER_NAME">${module.name}</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level-[%thread]-%c{1}(%L) - %msg%n" />
		</Console>
		<RollingFile name="RollingFile"
			fileName="${LOG_HOME}/${SERVER_NAME}.log"
			filePattern="${LOG_HOME}/${SERVER_NAME}-back/${SERVER_NAME}.%d{yyyyMMddHHmmss}.log">
			<PatternLayout pattern="%d{yyyy.MM.dd HH:mm:ss.SSS} %-5level-[%thread]-%c(%L) - %msg%xEx%n" />
            <Policies>  
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy>
                <!-- 删除指定目录下7天之前的日志-->
                <Delete basePath="${LOG_HOME}" maxDepth="2">
                    <IfFileName glob="*/*.log" />
                    <IfLastModified age="180d" />
                </Delete>
            </DefaultRolloverStrategy>
		</RollingFile>
	</appenders>

	<loggers>
		<logger name="springfox" level="error" includeLocation="true"/>
		<logger name="org.quartz" level="warn" includeLocation="true"/>
		<logger name="com.atomikos" level="warn" includeLocation="true"/>
		<logger name="serviceStatsLog" level="warn" includeLocation="true"/>
		<logger name="org.apache.zookeeper" level="warn" includeLocation="true"/>
		<logger name="org.springframework.web" level="debug" includeLocation="true"/>
		<logger name="com.zswl.sec" level="info" includeLocation="true"/>
		<logger name="com.zswl.sec.core" level="debug" includeLocation="true"/>
		<AsyncRoot level="info" includeLocation="true">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</AsyncRoot>
	</loggers>
</configuration>