<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:motan="http://api.weibo.com/schema/motan"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://code.alibabatech.com/schema/dubbo
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd
   		http://api.weibo.com/schema/motan
   		http://api.weibo.com/schema/motan.xsd">
	<!-- 引入属性配置文件 -->
	<bean class="top.ibase4j.core.support.context.PropertyPlaceholder">
		<property name="locations">
			<list>
				<value>${system.config.path}</value>
			</list>
		</property>
		<property name="properties">
			<props>
				<!-- rpc个性化配置(服务名,端口) -->
				<prop key="rpc.registry.name">${project.artifactId}</prop>
				<prop key="rpc.protocol.port">1${server.port}</prop>
			</props>
		</property>
	</bean>
	<!-- 扫描注解 -->
	<context:component-scan base-package="org.ibase4j">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation" expression="org.springframework.cache.annotation.EnableCaching" />
	</context:component-scan>
	<!-- dubbo -->
	<!-- <dubbo:reference id="sysProvider" interface="org.ibase4j.provider.ISysProvider" check="false" /> -->
	<motan:referer id="sysProvider" interface="org.ibase4j.provider.ISysProvider" check="false" />
	<motan:referer id="bizProvider" interface="org.ibase4j.provider.IBizProvider" check="false" />
	<!-- 引入SPRING配置文件 -->
	<!-- <import resource="spring/mq.xml"/> -->
	<!-- <import resource="spring/dubbo.xml" /> -->
	<import resource="spring/motan.xml" />
	<import resource="spring/redis.xml" />
	<import resource="spring/redisson.xml" />
	<import resource="spring/session.xml" />
	<import resource="spring/shiro.xml" />
</beans>