<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ibase4j.mapper.SysMsgConfigMapper">
	<select id="selectIdPage" resultType="java.lang.Long">
		select id_ from sys_msg_config
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					sms_plat_account like CONCAT('%',#{cm.keyword},'%')
					or sms_plat_password like CONCAT('%',#{cm.keyword},'%')
					or send_phone like CONCAT('%',#{cm.keyword},'%')
					or order_is_send like CONCAT('%',#{cm.keyword},'%')
					or pay_is_send like CONCAT('%',#{cm.keyword},'%')
					or send_goods_is_send like CONCAT('%',#{cm.keyword},'%')
					or regist_is_send like CONCAT('%',#{cm.keyword},'%')
					or advice_goods_is_send like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
</mapper>
