<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ibase4j.mybatis.scheduler.dao.TaskSchedulerExpandMapper">
	<select id="queryGroup" parameterType="java.util.Map" resultType="java.lang.Integer">
		select id_ from task_group where 1=1
		<if test="keyword != null">
			and (task_group like CONCAT('%',#{keyword},'%') or group_desc like CONCAT('%',#{keyword},'%'))
		</if>
	</select>
	<select id="queryScheduler" parameterType="java.util.Map" resultType="java.lang.Integer">
		select id_ from task_scheduler where 1=1
		<if test="usable != null">and usable=#{usable}</if>
		<if test="keyword != null">
			and (task_type like CONCAT('%',#{keyword},'%') or task_desc like CONCAT('%',#{keyword},'%'))
		</if>
	</select>
	<select id="queryLog" parameterType="java.util.Map" resultType="java.lang.Integer">
		select id_ from task_scheduler where 1=1
		<if test="keyword != null">
			and (group_name like CONCAT('%',#{keyword},'%') or task_name like CONCAT('%',#{keyword},'%'))
		</if>
	</select>
</mapper>