/*****************************************
    ProUI reset
******************************************/
body, html { min-width: 1009px; /** for 1024px + scrollbar */ }
body {  overflow-y: scroll; /*boring scroll bar, fixed body width */}
a{text-decoration: none !important;}
/*---滚动条默认显示样式--*/  
/*::-webkit-scrollbar-track-piece{
    background-color:#fff;
    -webkit-border-radius:0;
}
::-webkit-scrollbar{
    width:8px;
    height:8px;
}
::-webkit-scrollbar-thumb{
    height:50px;
    background-color:#999;
    -webkit-border-radius:4px;
    outline:2px solid #fff;
    outline-offset:-2px;
    border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
    height:50px;
    background-color:#9f9f9f;
    -webkit-border-radius:4px;
}*/
#page-content { background-color: #e5ebef;}
#to-top { left: auto; right: 5px; z-index: 9999; }
#page-container, #sidebar, #sidebar-alt { background: #29343a; }
.sidebar-brand { height: 125px; line-height: 125px; background: #254567; }

.sidebar-visible-lg #sidebar,
.sidebar-visible-lg.sidebar-partial #sidebar,
.sidebar-alt-partial #sidebar-alt:hover,
.sidebar-alt-visible-lg #sidebar-alt,
.sidebar-alt-visible-lg.sidebar-alt-partial #sidebar-alt,
.sidebar-content {
    width: 160px;
}
.sidebar-partial #sidebar:hover,
.sidebar-visible-lg #sidebar,
.sidebar-visible-lg.sidebar-partial #sidebar,
.sidebar-alt-partial #sidebar-alt:hover,
.sidebar-alt-visible-lg #sidebar-alt,
.sidebar-alt-visible-lg.sidebar-alt-partial #sidebar-alt {
    width: 160px;
}

.sidebar-partial #sidebar:hover + #main-container,
.sidebar-visible-lg #main-container {
    margin-left: 160px;
}

.bg-default { background-color: #eaedf1; }
.bg-primary { background-color: #1bbae1; }
.bg-info { background-color: #7abce7; }
.bg-success { background-color: #aad178; }
.bg-warning { background-color: #f7be64; }
.bg-danger { background-color: #ef8a80; }

.no-border-radius {
    border-radius:0 !important;
}
.no-padding {
    padding: 0 !important;
}

.table tr.separate-line th, .table tr.separate-line td {
    border-bottom: 0;
    background: #fff;
    border-color: #fff;
    padding: 0;
}

.label.employee-name {
    padding: 3px 6px;
    line-height: 2.2;
}
span.label{ font-size: 100%; line-height: 1.8;}
/******************************************
    Common Filter Style
******************************************/
.filter-element.half {
    position: relative;
    top: 12px;
}
.filter-element.half .form-group {
    margin-bottom: 0 !important;
}
.filter-element.full .month {
    margin-bottom: 15px;
}
/******************************************
    Common Tree Style
******************************************/
.tree ol {
    list-style: none;
    padding: 0 2em;
    border-left: 1px dashed #CCC;
}
.tree ol:first-child {
    padding-left: 0;
    border: none;
}
.tree .tree-item {
    padding: 3px 2px;
    margin: 3px 0;
}
.tree .tree-elem {
    padding: 2px;
    padding-left: 10px;
}
.tree .tree-elem a {
    padding: 0 3px;
    margin: 2px 3px;
    border: 1px solid #E9E9E9;
    background: #F5F5F5;
    display: inline-block;
}
/* tree lines seperator*/
.tree.line .ol {

}

/******************************************
    Framework Style
******************************************/
/** sidebar-menu **/
.sidebar-menu {
    padding: 0;
    text-align: center;
}
.sidebar-menu li {
    display: block;
    position: relative;
}
.sidebar-menu li.active {
    border-left: 4px solid #3db3d8;
    background: #13171A;
}
.sidebar-menu li a {
    display: block;
    color: #7F8C9B;
    padding: 18px 0;
}
.sidebar-menu li a .hasinfo{
    left: 55%;
    display: block;
    color: #f05050;
    background-color: #f05050;
    position: absolute;
    width: 8px;
    height: 8px;
    margin: 2px;
    border-radius: 100%;
}
.sidebar-menu li.active:after {
    content: " ";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-right-color: #e5ebef;
    pointer-events: none;
}
.sidebar-menu li a:hover,
.sidebar-menu li.active a {
    text-decoration: none;
    color: #fff;
}
.sidebar-menu li.active a {
    margin-left: -4px; /** for parent left border */
}
.sidebar-menu .menu-icon {
    font-size: 34px;
    line-height: 1.2em;
}
.sidebar-menu .menu-title {
    margin-bottom: 0;
    font-family: '微软雅黑';
    font-size: 16px;
}

/** header **/
.navbar.navbar-default {
    background-color: #476f9a;
}
.nav.navbar-nav-custom > li > a {
    color: #fff;
}
.content-header + .breadcrumb-top {
    border-top: 0;
}
.nav.navbar-nav-custom > li > a > img {
    border-radius: 0;
}

/** toolbar **/
#toolbar {
    overflow: hidden;
    background: #5dc7ee;
    color: #fff;
    border: 0;
    padding-top: 20px;
    min-height: 75px;
}
.toolbar-inner {
    padding: 0 20px;
}
#toolbar, #toolbar h1 {
    font-family: "Microsoft YaHei","微软雅黑";
}
#toolbar ul {
    background: #5CA3BE;
    margin-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    overflow: hidden;
}
#toolbar li {
    padding: 0;
    float: left;
    border-left: 1px solid #5593AA;
    box-shadow: 2px 0px 2px #4DB3D8;
}
#toolbar li:first-child {
    border-left: 0;
}
#toolbar li a {
    display: inline-block;
    height: 55px;
    padding: 0 20px;
    line-height: 55px;
    font-size: 17px;
    color: #fff;
    text-shadow: 1px 1px 2px #184253;
}
#toolbar li a:hover {
    text-decoration: none;
    text-shadow: none;
}
#toolbar li.current a {
    background: #e5ebef;
    color: #314153;
    text-shadow: 1px 1px 1px #FFF;
}
#toolbar .title {
    height: 55px;
    line-height: 55px;
    margin-top: -10px; /** half of toolbar top padding */
    font-size: 30px;
}

/******************************************
    Content Inner
******************************************/
.content-inner {
    position: relative;
    /*z-index: 1;*/
}
.content-inner .ajax-content {
    display: none;
    /**position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5; */
    background: #ffffff;
}
.content-inner .feature-content {
}

.action {
    margin-bottom: 10px;
}
.action .btn, .action input, .action select {
    /*border-radius: 0;*/
}
.form-search .form-group {
    margin-bottom: 0;
}

/*************************************
    Nestable Department
*************************************/
.nestable { margin: 0 0 15px 20px; }
.nestable ol { padding-left: 50px; }
.nestable li { list-style: none; }
.nestable { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-item, .dd-empty { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; width: 400px; }

.dd-name { display: block; height: 30px; margin-bottom: 5px; padding: 5px 20px; color: #333; text-decoration: none; border: 1px solid #ccc;
           background: #fafafa;
           background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
           background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
           background:         linear-gradient(top, #fafafa 0%, #eee 100%);
           -webkit-border-radius: 3px;
           border-radius: 3px;
           box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-name:hover, .dd-name:hover a { color: #2ea8e5; background: #fff; }
.dd-item .dd-button { display: none; margin: 3px 10px; }
.dd-element:hover > .dd-button { display: block; }
.dd-element a { display: block; color: #333; }
.dd-element a:hover { text-decoration: none; }
.dd-item a.btn { display: inline-block; color: #fff; }

.dd-placeholder, .dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
            background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
            background-size: 60px 60px;
            background-position: 0 0, 30px 30px;
}
@media only screen and (min-width: 700px) {
    .nestable { float: left; width: 48%; }
    .nestable + .nestable { margin-left: 2%; }
}
.dd-hover > .dd-name { background: #2ea8e5 !important; }

/*************************************
    System Application List
*************************************/
#application .inactive { border-color: #f39c12; }

/*************************************
    People Add
*************************************/
#people-add .row.section {
    border-bottom: 1px dashed #DBDBDB;
    margin-bottom: 12px;
    padding-bottom: 46px;
}
#people-add .title, .people-profile .title {
    position: relative;
    font-family: '微软雅黑';
    font-size: 18px;
    top: -26px;
    padding: 0 8px;
    background: #fff;
    display: inline-block;
    left: 25px;
    color: #535353;
}
#people-add .title i, .people-profile .title i {
    position: relative;
    right: -2px;
    font-size: 14px;
}
.people-profile .title {
    top: -13px;
    left: 7px;
}
.people-profile .section {
    border-top: 1px dashed #DBDBDB;
    padding-bottom: 25px;
}
.people-profile .tab-pane {
    padding-top: 30px;
}
.people-profile td.item-title {
    width: 90px;
    padding-right: 15px;
    text-align: right;
}
.people-profile .base-profile td.item-value {
    width: 318px;
}
.people-profile .idcard td.item-value,
.people-profile .contact td.item-value,
.people-profile .education td.item-value {
    width: 265px;
}
.people-profile .job td.item-value {
    width: 230px;
}
.people-profile td.item-value {
    padding-left: 15px;
}
.people-profile td.item-title,
.people-profile thead th {
    background: #FAFAFA;
}
.people-profile table thead > tr > th {
    padding-top: 5px;
    padding-bottom: 5px;
}
.people-profile .form-control {
    border-color: transparent;
}

/* cityPicker */
.cityPicker { font-size:12px; }
.cityPicker a { cursor: pointer; }
.cityPicker .list-unstyled .reset{border-bottom:1px solid #ebebeb; width:100%;}
.cityPicker .list-unstyled { margin: 0;}
.cityPicker .list-unstyled li { display:inline-block; height:23px; line-height:23px; margin:0 8px;}
.cityPicker .list-unstyled li.parent { width: 44px; }
.cityPicker .list-unstyled .secCity-wp{  width:100%; background-color:#EBEBE8; padding:6px 0; margin:0; display:none; height:auto; }

/* nationalityPicker */
.nationalityPicker a { cursor: pointer; }
.nationalityPicker li { display:inline-block; height:23px; line-height:23px; margin:0 8px; min-width: 70px;}
/*************************************
    People Filter
*************************************/
#department-box.people-filter {
    padding-left: 0;
    padding-top: 10px;
}
.people-filter .block-title {
    padding: 10px 16px 0;
    margin-bottom: 12px;
    height: 42px;
}
.people-filter #filter-box {
    position: relative;
    top: -14px;
    margin-bottom: -11px;
    border-bottom: 1px solid #eee;
    padding-bottom: 13px;
    margin-bottom: 0px;
}
.people-filter #filter-box .filter-label {
    display: inline-block; 
    position: relative; 
    top: -1px; 
    left: 7px; 
}
.people-filter .filter-nav .department-nav li[data-pid] {
    margin: 0 4px;
}
.people-filter .filter-nav .department-nav li[data-pid]:after {
    content: "\203a";
    margin-left: 9px;
    font-size: 16px;
}
.people-filter .filter-nav .department-nav li[data-pid]:last-child:after {
    content: ""
}
.people-filter .filter-nav ul > li,
.people-filter .block-title ul > li {
    margin: 0 8px;
    float: left;
}
.people-filter .filter-nav ul > li {
    height: 32px;
    line-height: 32px;
}
.people-filter .block-title .title,
.people-filter .filter-nav .title {
    width: 60px;
    letter-spacing: 0.2em;
}
.people-filter .block-title ul li + li:after {
    content: "\203a";
    color: #ccc;
    margin-left: 10px;
}
.people-filter .block-title li:last-child:after {
    content: "";
}
.people-filter .filter-nav li > .btn-group {
    display: none;
}
.people-filter .filter-nav .dropdown-menu li {
    margin: inherit;
    float: none;
    font-size: inherit;
}
.people-filter .filter-nav ul > li .btn,
.people-filter .block-title ul > li .btn {
    margin: 0;
    position: relative;
    top: -2px;
}
.people-filter .filter {
    margin-bottom: 30px;
    padding: 6px 10px 8px 10px;
}
.people-filter .filter .filter-item,
.people-filter .filter .item-label,
.people-filter .filter .item-control {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0 5px;
}
.people-filter .filter .filter-item {
    margin-left: 15px;
    border: 1px solid #eaedf1;
    height: 25px;
    line-height: 25px;
    padding: 0;
    background: #fff;
    position: relative;
    z-index: 1;
}
.people-filter .filter .item-control .item-value {
    padding: 0 15px 0 3px;
    cursor: pointer;
}
.people-filter .filter .filter-item.active .item-value,
.people-filter .filter .filter-item.active input
{
    color: #DD0000;
    font-weight: bold;
}
.people-filter .filter .item-label {
    text-decoration: none;
    background-color: #FAFAFA;
    padding: 0 5px;
    height: 100%;
    color: #B0A59F;
}
.people-filter .filter .triangle {
    content: " ";
    position: absolute;
    display: inline-block;
    overflow: hidden;
    border: 3px dashed transparent;
    _border-color: tomato;
    _filter: chroma(color=tomato);
    border-right: 3px solid #B7B9BD;
    border-bottom: 3px solid #B7B9BD;
    line-height: 0;
    height: 0;
    width: 0;
    bottom: 2px;
    right: 2px;
}
.people-filter .filter .item-list {
    display: none;
    position: absolute;
    width: auto;
    min-width: 100%;
    left: 0;
    top: 24px;
    z-index: 5;
    padding: 5px 0;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    box-shadow: 0 1px 5px #ccc;
}
.people-filter .filter .filter-item:hover .item-list {
    display: block;
}
.people-filter .filter .item-list li {
    height: 23px;
    line-height: 23px;
    display: block;
    float: none;
}
.people-filter .filter .item-list a {
    color: #806f66;
    cursor: pointer;
    padding: 2px;
    font-size: 12px;
}
.people-filter .filter .item-list .active a {
    font-weight: bold;
    color: #b10000;
}
.people-filter .filter .item-list a:hover {
    color: #b10000;
    text-decoration: none;
}
.people-filter .filter .item-list li.reset {
    width: 100% !important;
    margin-left: 0px;
    padding-left: 8px;
    border-bottom: 1px solid #D1CCC7;
}

/** people filter age */
.people-filter .filter .age {
    top: 1px;
    position: relative;
    z-index: 1;
}
.people-filter .filter .age:hover .btn {
    /*.people-filter .filter .age .btn {*/
    display: inline-block !important;
    visibility: visible !important;
    position: relative;
    right: 0px;
    top: -3px;
    height: 23px;
}
.people-filter .filter .age .item-label {
    position: relative;
    top: -1px;
}
.people-filter .filter .age .item-control {
    padding: 0;
    margin-left: -5px;
    margin-right: -1px;
    border-left: 1px solid #ccc;
}
.people-filter .filter .age input {
    height: 23px;
    width: 30px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top: none;
    text-align: center;
}
/** people filter address */
.people-filter .filter .address li {
    display: inline-block;
}
.people-filter .filter .address .item-list .parent {
    width: 44px;
    margin-right: 0;
}
.people-filter .filter .address .item-list {
    width: 350px;
}
.people-filter .filter .address .active a {
    font-weight: bold;
    color: #b10000;
}
.people-filter .filter .address .item-list .list-unstyled { overflow:hidden; margin: 0; }
.people-filter .filter .address .item-list .list-unstyled .secCity-wp { width:100%; background-color:#EBEBE8; padding:6px 0; margin:0; display:none; height:auto;}


/** people filter nationality */
.people-filter .filter .nationality .item-list {
    width: 500px;
}
.people-filter .filter .nationality .item-list li{
    display: inline-block;
    min-width: 70px;
    margin-right: 0;
    width: auto;
}

/*************************************
    People List Table
*************************************/
table.people {
    max-width: 1200px;
}
table.people .action {
    padding-left: 57px !important;
}
table.people .action .remove {
    margin-left: 10px;
    font-size: 14px;
}
table.people .label {
    display: inline-block;
    margin-bottom: 3px;
    padding: 3px;
}
table .item{cursor: pointer;}
/*************************************
    Position Table
*************************************/
.position-tip span {
    width: 80px;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
}
.position-tip label {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    margin: 0 10px;
    margin-bottom: 20px;
}
.position-tip cite {
    float: right;
}

#position table { margin: -1px 0 -1px -1px; }
#position table table { border-right: 0; border-right: none !important; }
#position table table td { border-right: none !important; }
#position td { padding: 0; vertical-align: middle; }
#position td.department {
    width: 60px;
}
#position td.department .name {
    display: block;
    width: 1em;
    margin: 15px auto;
}
#position .pos-item,
#position .pos-item .pos-name,
#position .pos-item .pos-num {
    display: inline-block;
    cursor: pointer;
    float: left;
}
#position .pos-item {
    height: 50px;
    margin: 2px 5px;
    float: none;
    vertical-align: middle;
    padding-top: 8px;
}
#position .pos-item .pos-name {
    background: #eee;
    padding: 8px 15px;
}
#position .pos-item .pos-name:hover {
    background: #F8F8F8;
}
#position .pos-item .pos-num {
    padding: 0;
    height: 34px;
    width: 34px;
    overflow: hidden;
}
#position .pos-item .pos-orgi,
#position .pos-item .pos-exist {
    display: inline-block;
    height: 34px;
    width: 34px;
}
#position .pos-item .pos-orgi {
    border: 17px solid #9EFAB4;
    border-color: transparent #9EFAB4 #9EFAB4 transparent;
    color: #31A531;
    margin-top: -34px;
    display: block;
}
#position .pos-item .pos-orgi i {
    font-style: normal;
    display: block;
    margin-left: 5px;
}
#position .pos-item .pos-exist {
    border: 17px solid #FAE36A;
    border-color: #FAE36A transparent transparent #FAE36A;
    color: #817D15;
}
#position .pos-item .pos-exist i {
    font-style: normal;
    display: block;
    margin-top: -16px;
    margin-left: -13px;
}
#position .pos-item .pos-exist.success {
    border-color: #8EECA5  transparent transparent #8EECA5 ;
}
#position .pos-item .pos-exist.warnning {
    border-color: #FAE36A transparent transparent #FAE36A;
}
#position .pos-item .pos-exist.danger {
    border-color: #FFADA5   transparent transparent #FFADA5  ;
}
#position .pos-item .pos-name {
    background: none;
    padding: 8px 15px;
}
#position .pos-item .pos-name:hover {
    background: none;
}
#position .pos-item {
    height: auto;
    float: left;
    padding: 0;
    border: 0;
}
#position .pos { padding: 10px 20px; }
#position .btn-group { margin: 5px; }
#position .btn { border: 0; }
#position .label { cursor: pointer; padding: 4px 8px; }

/******************************************
    hr-attendance-tpl
******************************************/
#attendance-tmp-list {
    max-width: 800px;
}
#attendance-tmp-list .tmp-item {
    font-size: 16px;
}

.hr_top_padding { padding:40px 20px;}
.attendance-tpl-item {
    width: 500px;
}
.attendance-tpl-item:hover .block-options .btn {
    display: inline-block !important;
    visibility: visible !important;
}
.attendance-tpl-item .list-group-item {
    line-height: 40px;
    margin: 0;
    margin-bottom: 5px;
    background-color: #DFFAFF;
    border-color: #9BECFF;
    color: #8D8585;
}
.attendance-tpl-item .list-group-item .time {
    font-size: 18px;
}
.attendance-tpl-item .list-group-item .type-name {
    position: relative;
    left: 65px;
}
.attendance-tpl-item .list-group-item .period {
    position: relative;
    right:  65px;
}
.attendance-tpl-item .description {
    padding-left: 2em; 
    text-indent: 2em
}
/******************************************
    hr-attendance-duty
******************************************/
.attendance-duty .attendance-tpl-item{width: auto;}
.attendance-duty .list-group-item{margin:2px; padding: 5px; position: relative;}
.attendance-duty .widget-extra .block-options{display: none;}
.attendance-duty .widget-extra:hover .block-options{display: block;}
.attendance-duty .col-md-6 .block{ height: 100%; padding-bottom: 0;}
.attendance-duty .attendance-tpl-item .type-name { position: static; margin-left: 20px;}
.attendance-duty .well{ min-height: 50px;}
.list-group-item input[type=checkbox]{ position: absolute; left: 10px; top: 22px;}

form#attendance-tpl-add table thead > tr > th {
    padding: 8px 0;
}

.people_search {
    width:100%;
    border:solid 1px #DBE1E8;
    height:34px;
    line-height:34px;
    position:relative;
    border-radius:4px;
    margin-top:1px;
}
.people_search span.title {
    position:absolute;
    left:10px;
    color:#999;
}
.people_search .arrow{
    position:absolute;
    right:5px;
    bottom:10px;
}
button.remark-remind {
    position:relative;
    margin-right:8px;
}
button.remark-remind .remark-num {
    position:absolute;
    top:-8px;
    right:-5px;
}
button.button-no-bgc { background:none;}

/******************************************
    hr-people-attendance-tpl, hr-notes-approval
******************************************/
#notes-approval h2.title,#people-attendance h2.title {
    margin:0 0 25px 0;
}
#people-attendance table td p,#notes-approval table td p { margin:8px 0;}
#people-attendance .attendance-notes {
    display:inline-block;
    margin:-9px 0 0 -8px;
    border-width:14px;
    border-color:#fff #fff #ccc #ccc;
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    border-style:solid;
    height:0;
    width:0;
    float:left;
}
#people-attendance .attendance-notes_nopass { border-color:#fff #fff #E74C3C #E74C3C;}
#people-attendance .attendance-notes_pass { border-color:#fff #fff #3C763D #3C763D;}
#people-attendance .attendance-content { padding-left:20px;}

.note-object-result ul.object-list li {
    padding:8px;
    margin:10px;
}
.note-object-result ul.object-list li a {
    color:#fff;
}
.note-list .note-item p,
.attendance-away-list .note-item p  {
    margin-bottom: 5px;
}

/******************************************
    hr-attendance-manager
******************************************/
.attendance-manager {
    /*padding-bottom: 20px;*/
}
.attendance-manager .attendance-item {
    width: 130px;
    display: inline-block;
    padding: 6px 0;
}
.attendance-manager .attendance-item i {
    font-style: normal;
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 15px;
}

.attendance-manager #holiday .action .btn:first-child {
    margin-left: 50px;
}
.attendance-manager #holiday .btn-delete {
    margin-left: 10px;
}
.attendance-manager #holiday tr.hoverable:hover .hidden {
    display: inline-block!important;
    visibility: visible!important;
}
/******************************************
    hr-salary-manager
******************************************/
.salary-manager {}
.salary-manager hr { margin-top:10px;}
.salary-manager .allowance-filter {
    padding-left: 0;
}
.salary-manager .allowance-filter .item-control {
    width:120px;
    border:#ccc solid 1px;
    padding:5px 10px 5px 3px;
    position:relative;
    margin:0;
    cursor: pointer;
}
.salary-manager .allowance-filter .item-control .icon {
    content: " ";
    position: absolute;
    display: inline-block;
    overflow: hidden;
    border: 3px dashed transparent;
    _border-color: tomato;
    _filter: chroma(color=tomato);
    border-right: 3px solid #B7B9BD;
    border-bottom: 3px solid #B7B9BD;
    line-height: 0;
    height: 0;
    width: 0;
    bottom: 2px;
    right: 2px;
}
.salary-manager .allowance-filter .item-control .item-list {
    display: none;
    position: absolute;
    width: auto;
    min-width: 100%;
    left: 0;
    top: 29px;
    z-index: 5;
    padding: 5px 0;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    box-shadow: 0 1px 5px #ccc;
}
.salary-manager .allowance-filter .item-control:hover .item-list {
    display: block;
}
.salary-manager .allowance-filter .item-control .item-list li {
    height: 23px;
    line-height: 23px;
    display: inline-block;
}
.salary-manager .allowance-filter .item-control .item-list a {
    color: #806f66;
    cursor: pointer;
    padding: 2px;
    font-size: 12px;
}
.salary-manager .allowance-filter .item-control .item-list a:hover {
    color: #b10000;
    text-decoration: none;
}
.salary-manager .allowance-filter .item-control .item-list .reset {
    width: 100%;
    margin-left: 0px;
    padding-left: 8px;
    border-bottom: 1px solid #D1CCC7;
}
.salary-manager .allowance-filter .item-control .item-value { text-align:center;}
.salary-manager .allowance-filter .item-control .icon { border-width:5px;}
.salary-manager .allowance-filter .item-control .item-list li {
    display:block;
    text-align:center;
}
.salary-manager div.salary-content { max-width:600px; margin:0 auto;}
.salary-manager div.salary-content table td { width:50%; padding-left: 30px; }
.salary-manager div.salary-content th { font-weight: normal; text-align: right; padding-right: 30px; }
.salary-manager div.salary-content .separate-line th, .salary-manager div.salary-content .separate-line td {
    border-bottom: 0;
    background: #fff;
    border-color: #fff;
    padding: 0;
}
/******************************************
    system permit action
******************************************/
.permit-manager table#action tr.hoverable:hover .hidden {
    display: inline-block!important;
    visibility: visible!important;
}
.permit-list label {
    line-height: 1.7;
}
/******************************************
    system flow action
******************************************/
.flow-list {
    max-width: 800px;
}
.flow-item:hover .block-options .btn {
    display: inline-block !important;
    visibility: visible !important;
}


/******************************************
    Mall
******************************************/
.action .input-lg {
    height: 45px;
}
.mall-filter .filter { }
.mall-filter .filter span.btn {
    margin-right: 15px;
}
.mall-filter .floor .btn {
    margin-right: 12px;
    border-color: #fff;
}
.mall-filter .area .btn {
    margin-right: 6px;
    border-color: #fff;
}

.mall-filter>div, .merchant>.row, .brand>.row{
    margin-bottom: 10px;
}
.mall-filter>div:nth-of-type(3){
    margin-bottom: 10px;
}
.merchant .input-lg, .brand .input-lg{
    border-radius: 4px;
}
.mall-filter>div>.btn:not(.btn-warning){
    margin-left: 5px;
}
.mall-filter>div>.btn-warning{
    margin-right: 10px;
}
.mall-filter table td{
    border: 1px solid #666;
}
.mall-filter.block{
    padding: 15px 5px;
}
.mall-manager .store-status a {
    padding: 3px 5px;
    border-radius: 0px;
}
.mall-filter .input-lg{
    height: 45px;
}
/** mall-action */
.mall-action .action-nav {
    width: 180px;
}
.mall-action .action-nav a {
    border-radius: 0;
    margin: 0;
}
.mall-action .action-content {
    margin-left: 200px;
}

/******************************************
    notice
******************************************/
.notice-row{border-bottom: 1px #ddd solid; }
.notice-row .col-sm-8, .notice-row .col-sm-4{cursor:pointer;}
.notice-row > div{padding-top:10px;padding-bottom:10px;}
.notice-row:hover{background-color: #f3f3f3;}
.notice-row-open:hover{background-color: #fff;}
.notice-row .col-sm-8 span{ width: 60px; text-align:center; display: inline-block;}
.notice-row a{font-size:16px; color: #666;}
.notice-row .well{margin: 10px auto; clear: both; line-height: 25px;}
.notice-row .files{margin-right:10px; display: inline-block;}
.notice-row .files a{font-size: 12px; color:#333;}
.notice-row .files-div{line-height: 30px;}
.notice-row blockquote:before {content: "";}

/******************************************
    timeline
******************************************/
.timeline-list .timeline-icon {
    left: 110px;
    top: 10px;
    width: 100px;
    height: 32px;
    line-height: 30px;
    border: none;
    border-radius: 16px;
}
.timeline-list .timeline-icon img{
    float: left;
    width:30px; height:30px;
    margin: 1px;
}
.timeline-list .timeline-icon span{
    display: block;
    margin: 0;
    float: left;
    width:60px;
    text-align: center;
}
.timeline-list .timeline-time {
    width: 100px;
}
.timeline-list .timeline-content {
    margin-left: 220px;
}
.timeline-list:after {
    left: 160px;
}

.replay-input{margin-top: 0 !important; margin-bottom: 10px;}
/******************************************
    wysihtml5-editor
******************************************/
.wysihtml5-editor table td, .wysihtml5-editor table th {
  border: 1px dashed;
  min-width: 20px;
}

.wysihtml5-editor table td {
  border-color: LightGray;
}

.wysihtml5-editor table th {
  border-color: gray;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
iframe {
  border: 2px inset;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}

/* COLORS */
.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-color-orange {
  color: orange;
}

/* STYLES*/
.wysiwyg-font-size-smaller {
  font-size: smaller;
}

.wysiwyg-font-size-larger {
  font-size: larger;
}

.wysiwyg-font-size-xx-large {
  font-size: xx-large;
}

.wysiwyg-font-size-x-large {
  font-size: x-large;
}

.wysiwyg-font-size-large {
  font-size: large;
}

.wysiwyg-font-size-medium {
  font-size: medium;
}

.wysiwyg-font-size-small {
  font-size: small;
}

.wysiwyg-font-size-x-small {
  font-size: x-small;
}

.wysiwyg-font-size-xx-small {
  font-size: xx-small;
}
.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-justify {
  text-align: justify;
}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {
  clear: right;
}

.wysiwyg-clear-left {
  clear: left;
}

/******************************************
    聊天
******************************************/
.arrow
{
    z-index: 10;

    border-width: 9px;
}.arrow,
.arrow:after
{
    position: absolute;

    display: block;

    width: 0;
    height: 0;

    border-style: solid;
    border-color: transparent;
}.arrow:after
{
    content: '';

    border-width: 8px;
}.arrow.top
{
    top: -9px;
    left: 50%;

    margin-left: -9px;

    border-top-width: 0;
    border-bottom-color: rgba(0,0,0,.1);
}
.arrow.top:after{
    top: 1px;

    margin-left: -8px;

    border-top-width: 0;
    border-bottom-color: #fff;
}
.arrow.top.arrow-gray:after{
    border-bottom-color: #f3f3f3;
}
.arrow.top.arrow-blue:after{
    border-bottom-color: #5dc7ee;
}
.arrow.top.arrow-info:after
{
    border-bottom-color: #23b7e5;
}.arrow.top.arrow-success:after
{
    border-bottom-color: #27c24c;
}.arrow.top.arrow-danger:after
{
    border-bottom-color: #f05050;
}.arrow.top.arrow-warning:after
{
    border-bottom-color: #fad733;
}.arrow.top.arrow-light:after
{
    border-bottom-color: #edf1f2;
}.arrow.top.arrow-dark:after
{
    border-bottom-color: #3a3f51;
}.arrow.top.arrow-black:after
{
    border-bottom-color: #1c2b36;
}.arrow.right
{
    top: 50%;
    right: -9px;

    margin-top: -9px;

    border-right-width: 0;
    border-left-color: rgba(0,0,0,.1);
}.arrow.right:after
{
    right: 1px;
    bottom: -8px;

    border-right-width: 0;
    border-left-color: #fff;
}
.arrow.right.arrow-gray:after{
    border-left-color: #f3f3f3;
}
.arrow.right.arrow-blue:after
{
    border-left-color: #5dc7ee;
}.arrow.right.arrow-info:after
{
    border-left-color: #23b7e5;
}.arrow.right.arrow-success:after
{
    border-left-color: #27c24c;
}.arrow.right.arrow-danger:after
{
    border-left-color: #f05050;
}.arrow.right.arrow-warning:after
{
    border-left-color: #fad733;
}.arrow.right.arrow-light:after
{
    border-left-color: #edf1f2;
}.arrow.right.arrow-dark:after
{
    border-left-color: #3a3f51;
}.arrow.right.arrow-black:after
{
    border-left-color: #1c2b36;
}.arrow.bottom
{
    bottom: -9px;
    left: 50%;

    margin-left: -9px;

    border-top-color: rgba(0,0,0,.1);
    border-bottom-width: 0;
}.arrow.bottom:after
{
    bottom: 1px;

    margin-left: -8px;

    border-top-color: #fff;
    border-bottom-width: 0;
}
.arrow.bottom.arrow-gray:after{
    border-top-color: #f3f3f3;
}
.arrow.bottom.arrow-blue:after
{
    border-top-color: #5dc7ee;
}.arrow.bottom.arrow-info:after
{
    border-top-color: #23b7e5;
}.arrow.bottom.arrow-success:after
{
    border-top-color: #27c24c;
}.arrow.bottom.arrow-danger:after
{
    border-top-color: #f05050;
}.arrow.bottom.arrow-warning:after
{
    border-top-color: #fad733;
}.arrow.bottom.arrow-light:after
{
    border-top-color: #edf1f2;
}.arrow.bottom.arrow-dark:after
{
    border-top-color: #3a3f51;
}.arrow.bottom.arrow-black:after
{
    border-top-color: #1c2b36;
}.arrow.left
{
    top: 50%;
    left: -9px;

    margin-top: -9px;

    border-right-color: rgba(0,0,0,.1);
    border-left-width: 0;
}.arrow.left:after
{
    bottom: -8px;
    left: 1px;

    border-right-color: #fff;
    border-left-width: 0;
}
.arrow.left.arrow-gray:after{
    border-right-color: #f3f3f3;
}
.arrow.left.arrow-blue:after
{
    border-right-color: #5dc7ee;
}.arrow.left.arrow-info:after
{
    border-right-color: #23b7e5;
}.arrow.left.arrow-success:after
{
    border-right-color: #27c24c;
}.arrow.left.arrow-danger:after
{
    border-right-color: #f05050;
}.arrow.left.arrow-warning:after
{
    border-right-color: #fad733;
}.arrow.left.arrow-light:after
{
    border-right-color: #edf1f2;
}.arrow.left.arrow-dark:after
{
    border-right-color: #3a3f51;
}.arrow.left.arrow-black:after
{
    border-right-color: #1c2b36;
}.arrow.pull-left
{
    left: 19px;
}.arrow.pull-right
{
    right: 19px;
    left: auto;
}
.arrow.pull-up{
    top: 20px;
}.arrow.pull-down{
    top: auto;
    bottom: 19px;
}
#object-result{ padding: 10px; margin-bottom: 5px;}
#object-result ul{ margin-bottom: 0px;}
/******************************************
    chat
******************************************/
.chat{min-height:550px;background: none !important; border:none; padding:0 !important;}
.chat .row, .chat .row>div, .row .block, .say-content, .slimScrollDiv{height: 100%;}
.chat .block{position: relative;}
.chat .bottom{position: absolute; bottom:0; border-top: 1px solid #eaedf1; border-bottom: none;margin-right:0;}
.chat .nav-pills>li>a {background-color: unset; color: #1bbae1; border-right: 1px solid #eaedf1; }
.chat .nav-pills>li:last-child>a {border-right: none; }
.chat .nav-pills>li>a:hover {color: #394263;}
.chat .block-content{margin: 0px -20px 0px -20px; height: 100%; padding-bottom: 100px;}
#chat-window .block-content{ padding-bottom: 192px;}
#chat-window .row .block-content{ padding-bottom: 145px;}
#chat-window .content-left .block-content{ margin: 0 -15px;}
.chat .nav-pills > li.active > a, 
.chat .nav-pills > li.active > a:hover, 
.chat .nav-pills > li.active > a:focus{color: #394263;background-color: #f9fafc;}
.chat .media-feed > .media{border-top:none; padding-top: 10px;}
.chat .media-feed > .media:hover{background: none;}
.chat .media .text-center{padding-top:10px; clear:both;}
.chat .say-content{ overflow-x: hidden; overflow-y: auto; position: relative;}
.chat .say-content .say-body{padding-bottom: 10px;}
.say-body .push-bit,
.chat .say-content .push-bit{margin-bottom: 0 !important;}
.chat .say-content li{padding: 10px 20px;}
.chat .say-content li small,.chat .say-content li a{display: block;}
.chat .say-content li small{opacity: .7;}
.chat .say-content li.readmore a{display: inherit;}
.chat .btn-toolbar{margin:2px 5px;}
.chat .btn-toolbar .btn-link {padding: 0;background: none;margin: 5px 10px 0 10px;}
.chat .btn-toolbar .btn-link i{font-size: 20px; color:#394263;}
.chat .btn-toolbar .btn-link i:hover{color:#5dc7ee;}
.bg-blue,.bg-gray {position: relative;padding: 12px;border-radius: 6px;width: auto;display: inline-block; margin-top: 10px;word-break:break-all;word-wrap:break-word;}
/*.bg-blue img,.bg-gray img{width: 100%;}*/
.bg-gray {background-color: #f3f3f3; max-width: 60%;}
.bg-blue {color: #fff;background-color: #5dc7ee;color: #fff;max-width: 60%;float: right;}
.bg-blue a{color: #fff; text-decoration: underline;}
.chat .list-panel .media-list .img-circle,
.list-panel .media-list .img-square {max-width: 50px;max-height: 50px;}
.img-square {border-radius: 3px;}
.chat .list-panel .media-list li {margin: 0px; padding:5px 10px; border-bottom: 1px solid #f3f3f3;}
.chat .list-panel .media-list li strong{font-size: 14px; font-weight: normal;}
.chat .list-panel .media-list li p{margin: 0; color:#999;}
.chat .list-panel .media-list li .btn-alt{margin-top: 10px;border-radius: 50%; display: none;}
.chat .list-panel .media-list li .badge{margin-top: 15px;}
.chat .list-panel .media-list li:hover{background-color: #f3f3f3; cursor: pointer;}
.chat .list-panel .media-list li:hover .btn-alt{display: block;}
.chat .list-panel .media-list li:hover .badge{display: none !important;}
.chat .list-panel .media-list li.active{background-color: #fff2cc;}
.chat .list-panel .lists-content{margin:0;overflow-x: hidden; overflow-y: auto;height:100%;}
.chat .list-panel .lists-content strong {display:block; white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.name-left,.name-right{margin-bottom:-10px; color:#999;}
.name-right{text-align: right;}
.name-left{text-align: left;}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}
#chat-content{background-color: #fff;height: 80px; border:1px solid #ddd; border-radius: 3px 0 0 3px; padding: 5px; overflow: auto;}
.sendBtn{padding-right:18px; padding-left:18px; height: 80px;}
.chat #chat-window{margin:0;}
.chat #chat-window>.block-title{margin-bottom:0;}
.chat #chat-window .row{margin: 0 -20px;}
.chat #chat-window .content-left{border-right: 1px solid #eaedf1;margin:0;}
.chat #chat-window .content-left .bottom{height:125px;margin-left:-15px;}
.chat #chat-window .content-right{ margin: 0 -20px 0 0; padding: 0; height:100%; padding-bottom: 20px;}
#folderTree li ul,
.chat .ztree li ul,
#room-edit-div .ztree li ul{padding: 0;}
#folderTree li,
.chat .ztree li,
#room-edit-div .ztree li{padding: 3px 8px 3px 20px;}
#folderTree li a span,
.chat .ztree li a span,
#room-edit-div .ztree li a span{font-size: 14px; line-height: 20px;}
#folderTree li a:hover,
.chat .ztree li a:hover,
#room-edit-div .ztree li a:hover{color:#5dc7ee; text-decoration: none;}
#folderTree li a.curSelectedNode{height:20px;}
.chat .ztree li a.curSelectedNode,
#room-edit-div .ztree li a.curSelectedNode{background:none; height:auto; border:none; opacity:1;}
#folderTree li span.button,
.chat .ztree li span.button,
#room-edit-div .ztree li span.button{text-align: right; color:#666; margin-right:5px; background:none; line-height: 20px; font-family: FontAwesome; font-size:16px; font-weight: 400;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.chat .ztree li span.noline_docu:before, #room-edit-div .ztree li span.noline_docu:before,
.chat .ztree li span.noline_close:before,#room-edit-div .ztree li span.noline_close:before,#folderTree li span.noline_close:before{ content: "\f0da";}
.chat .ztree li span.noline_open:before, #room-edit-div .ztree li span.noline_open:before, #folderTree li span.noline_open:before{ content: "\f0d7";}
.ztree li a small{color:#999;}
.img30x30{width: 30px; height: 30px;}
.img70x70{width: 70px; height: 70px;}
.img90x90{width: 90px; height: 90px;}
.chat .content-right h3{font-size: 14px; margin: 0; padding: 0; line-height: 30px; background-color: #ececec; border-bottom: 1px solid #ddd; text-indent: 10px;}
.chat .content-right h3 .btn{float: right; margin: 5px;}
.chat .member-list{height: 100%; padding-bottom: 31px;}
.member-list ul{ padding: 0; list-style: none;}
.member-list ul li{line-height: 25px; padding: 3px 10px; font-size: 12px;}
.member-list ul li:hover{background-color: #f3f3f3; cursor: pointer;}
.member-list ul li small{color:#999;}
.member-list ul li button{margin-top: 2px; display: none;}
.member-list ul li:hover button{display: block;}
.chat #form-chat .input-group{margin:5px;}
.chat .block-title h2 .media{font-size: 12px;}
.chat .block-title h2 .media strong{font-size: 14px;}
.offline{filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); -webkit-filter: grayscale(100%);}


.ui-dialog{border-radius: 4px;border-color: #AFAFAF}
.ui-dialog-footer {padding: 15px; background-color: #f9fafc;}
.ui-dialog-title {padding: 10px 15px;}
.ui-dialog-close {top: 8px;}
.ui-dialog-footer button {padding: 5px 10px;font-size: 12px;line-height: 1.5;border-radius: 3px;}
.ui-dialog-footer button.ui-dialog-autofocus {background-color: #6ad2eb !important;border-color: #1bbae1 !important;}
.ui-dialog-footer button.ui-dialog-autofocus.disabled {cursor: not-allowed;pointer-events: none; opacity: 0.6;}

#room-edit-div{overflow: hidden; position: relative;}
#room-edit-div,.col-md-6,.room-edit-col,.room-edit-col>div{height: 100%;}
#room-edit-div i{position: absolute; top: 50%; left: 50%; margin: 0 0 0 -8px; font-size: 18px; color: #ccc;}
#room-edit-div .member-list{height: 100%;}
.room-edit-col{width:100%; padding-bottom: 36px;}
.room-edit-col>div{border: 1px solid #ddd;}
.search-result{position: absolute !important; top:85px; left:15px; margin-right:15px;}
.search-result>div{height: 100%; width: 100%;}
.room-edit-right{height:325px !important;}
.room-edit-right-top{line-height:34px;padding-left:15px;}
.room-edit-right-name{display:inline-block;width:210px;}
.room-edit-left-top{height:34px;}
.room-results{width:300px;max-height:342px;overflow:auto;}
.room-results div{cursor:pointer;}
.room-results div:hover{background-color:#f3f3f3;}

#ulChatHistory li{padding: 10px; position: relative;}
#ulChatHistory li.col-md-4{padding: 20px 10px 0 10px;}
/*#ulChatHistory li .text-center{text-align: right; position: absolute; top: 10px; right: 20px;}*/
/*#ulChatHistory li small,#ulChatHistory li i{color:#999;}*/
#ulChatHistory li a{display: block;}

i.busy{display:block;color: #f05050;background-color: #f05050;position: absolute;width: 8px;height: 8px;margin: 2px;border-radius: 100%;}
i.top {top: 50%; margin: -9px 22px 0; right: 0; bottom: auto; left: 50%;}



/******************************************
    disk 网盘
******************************************/
.disk{padding: 0 15px !important;}
.disk .sub-header {padding-bottom: 10px; border-bottom: 1px solid #eee;}
.disk .sidebar {float:left;display: block; padding: 0px; overflow-x: hidden; overflow-y: auto; background-color: #f9fafc; border-right: 1px solid #dbe1e8; height: 100%; width: 180px;}
.disk .nav-sidebar { margin-bottom: 20px;}
.disk .nav-sidebar > li > a {padding:10px 20px; font-size: 16px; color: #666;}
.disk .nav-sidebar a:hover,
.disk .nav-sidebar > .active > a,
.disk .nav-sidebar > .active > a:focus { color: #333; background-color: #e3e7ed; }
.disk .nav-sidebar a i{margin-right: 3px;}
.disk .nav-sidebar a:hover i,
.disk .nav-sidebar > .active > a i{color: #029bda;}
.disk .main {padding: 0px; position: absolute; top: 52px; left: 0; right:0; margin-left: 180px;}
.disk .main .page-header {margin-top: 0;}
.disk .main .row{margin: 0;}
.disk .placeholders {margin-bottom: 30px;text-align: center;}
.disk .placeholders h4 {margin-bottom: 0;}
.disk .placeholder {margin-bottom: 20px;}
.disk .placeholder img {display: inline-block;border-radius: 50%;}
.disk .navbar-static-top{border-color: #dbe1e8; margin: 0 -15px; background-color: #fff;}
.disk .navbar-fixed-bottom{border: 1px #dbe1e8 solid; border-top-color: #eee; border-left:none; background-color: #fff; position: absolute; z-index: 1; margin-left: 181px; margin-bottom: 20px; min-height:40px;}
.disk .navbar-fixed-bottom .pagination{margin: 5px 0;}
.disk .navbar-fixed-bottom .nav li{margin-top: 10px;}
.disk .navbar-form{margin: 8px 0;}
.disk .navbar-nav li>button{margin-top: 8px;}
.disk .navbar-nav.navbar-left > li{margin-right: 15px;}
.disk .navbar-right > li{margin-left: 15px;}
.disk .toolbar{border: 1px solid #dbe1e8; border-top: none; padding: 5px 10px; background-color: #f9fafc;}
.disk .toolbar>div{display:inline-block;}
.disk .toolbar>div:first-child button{margin-right: 10px;}
.disk .toolbar i.gi{color: #999;}
.disk .path{padding: 10px 10px 10px 0;}
.disk .path span{padding: 5px; border-radius: 3px;display: block; cursor: pointer; color: #1bbae1;}
.disk .path span:hover{background-color: #f3f3f3;}
.disk .path .disabled span{color: #666; cursor: default;}
.disk .main .table {margin-bottom: 0;}
.disk .main .table thead > tr > th {font-size: 14px;}
.disk .main .table tbody > tr > td {padding: 10px 8px; color: #999; border-top: none; border-bottom: 1px solid #eaedf1; }
.disk .main .table tbody > tr > td:first-child {text-align: center; width: 40px;}
.disk .main .table tbody > tr > td .item-title {position: relative; color:#333;}
.disk .main .table tbody > tr > td .item-title a{color:#333;}
.disk .main .table tbody > tr > td .filename {cursor: pointer;}
.disk .main .file-lists i{color: #6fa8dc;}
.disk .main .arrow.left{left:-8px;}
.disk .file-lists{overflow: auto;}
.disk .top-line{height: 1px; border-top: 1px #eaedf1 solid; border-bottom: 1px #fff solid;}
.disk .main .table .btns{display: none; position: absolute; right: 10px; top: 0;}
.disk .main .table .btns i{margin: 0 5px;}
.disk .main td .fa-2x{margin-right: 5px;}
.disk .main td .fa-2x.gi-folder_closed{color: #F7BF45;margin-right: 6px;}
.disk .main td:hover .btns{display: inline-block;}
.disk .main tr.active{background-color: #ccc;}
.disk .main .table .btns i:hover{color: #428bca; cursor: pointer;}
.disk .progress{position: absolute; width:40%; right:10px; z-index:2;}
#folderTree i.gi{color: #F7BF45; font-size: 14px; margin-right: 5px;}
#folderTree i.fi{color: #6fa8dc; font-size: 18px; margin-right: 6px;}
/*#folderTree span{font-size: 14px; line-height: 23px;}


/******************************************
    work 工作计划
******************************************/
.work{}
.work .remind{ position:relative; margin:0 10px;}
.work .remind i{ position:absolute; top:-10px; right:-12px; padding:0px 6px; border-radius:10px; background:#ef8a80; color:#fff; font-size:90%; display:inline-block; text-align:center; font-style:normal;}
.work .reply-color{ color:#e74c3c;}
.work .share-color{ color:#1bbae1;}
.annex-ico{ color:#999; margin-right:5px;}
.more-line{ border-top:1px solid #dbe1e8; padding-top:20px;}
.add-work-person{ border:1px dashed #999; padding:20px 126px; font-size:1.2em; margin:30px 0 30px 11px; display:inline-block; cursor:pointer;}
.add-work-person i{ margin-right:10px;}
.work-crumbs{ background:#f9fafc; margin:0; border-bottom:none; padding:12px 0 12px 20px; font-size:16px;}
.work-comment-list .media{padding: 10px 20px;}
.work-comment-list .media p{margin-bottom: 5px;}
@media only screen and (max-width: 1800px) {
    .form-horizontal .work-detail-tit { min-width:120px; text-align:left; }
}
/*.form-bordered .form-group:last-child{ border-bottom:none;}*/
.assign-work{ margin-bottom:15px;}
.assign-btn{ padding:0 4.3% 20px 0; }
.work-sorting{ position:relative; display:inline-block;}
.work-sorting .ico-up{ position:absolute; right:-18px; top:0px;}
.work-sorting .ico-down{ position:absolute; right:-18px; top:8px;}
.work-sorting .focus{ color:#e74c3c;}


.img70x70{
/*	width: 90px;
	height: 90px;*/
}
.h2_stl{
	font-size: 160%;
	padding-top: 20px;
	padding-left: 2%;
}
.work_origin{
	padding: 25px 0 20px 6%;
}
.work_origin h2{
	margin-bottom: 20px;
}
.work_origin .fa{
	display: block;
	line-height: 24px;
}
.work_origin strong{
	display: block;
	padding-top: 15px;
	font-weight: 900;
	font-size: 100%;
	color: #777;
}
.work_origin p{
	margin-bottom: 5px;
	color: #999;
}
.work_origin small{
	display: block;
	font-weight: 700;
}
.work_name{
	padding: 10px 15px 0 0;
}
.work_name .form-group{
	padding-top: 5px;
	padding-bottom: 5px;
}
.work_name .form-group{
	border: none;
}
.work_name .col-md-9{
	padding-left: 0;
}
.work_status{
	padding: 25px 0 0;
}
.work_status .label{
	margin-bottom: 0;
}
.work_status .label ~ p{
	padding-top: 12px;
	margin-bottom: 0;
}
.fset_stl{
	border: 2px dashed #eee;
	border-radius: 10px;
    margin: 0 2%;
    padding: 0;
}
.form-bordered .fset_stl legend {
	font-size: 140%;
	color: #999;
	width: auto;
	border: none;
	margin: inherit;
	margin-left: 18px;
    padding: 0 10px 0;
    text-align: left;
}
.blk-arrow{
	display: block;
	width: 90px;
	margin: 0 auto;
	padding: 15px 0 5px 0;
	color: #efefef;
	opacity: .8;
}
#detail .form-horizontal{
	padding: 10px 0 5px;
}
.ajax-content #detail .form-horizontal{
	padding: 10px 0 17px;
}
.work_status .label-primary,
.work_status .label-success,
.work_status .label-danger
{
	padding: 0.2em 0.6em 0.3em;
	font-size: 16px;
}
.work_name .help-block{
	margin-top: 7px;
}
#chat-panel, #tabs-panel{
	padding-left:0;
}
#work-datatable tbody tr td:first-child,
#work_census-list tbody tr td:first-child
{
	padding-left: 2%;
}
#contentId .block .block{
	/*margin-bottom: 0;*/
    border-radius:4px;
}
#username{
	margin-right: 5px;
}

#contentId .chat{
	min-height: unset;
}

.chat .room_blk{
	position: absolute;
	top: 85px;
	bottom: 39px;
	width: 100%;
	height: auto;
	padding-bottom: 0;
}
#chat-window .msg_blk{
	position: absolute;
	top: 88px;
	bottom: 125px;
	width: 100%;
	height: auto;
	padding-bottom: 0;
}
#chat-window .block-title h2{
	display: block;
}

.chat .bottom{
	width: 100%;
}

#sidebar .sidebar-menu{
	margin-bottom: 0;
}
#work_census-list tr.note-item td:nth-child(odd),
#work-datatable tr.note-item td:nth-child(1){
	cursor: pointer;
}

table.people tbody td:last-of-type a:last-of-type{
    visibility: hidden;
}
table.people tbody tr:hover td:last-of-type a:last-of-type{
    visibility: visible;
}


/*******************************************/
.nestable li:hover > label:hover ~ .dd-item .dd-button{
    display: block;
}
.dd-element{
    position: relative;
}
.dd-item .dd-button{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.nestable li:hover > label:hover ~ .dd-item .dd-name,
.nestable li:hover > label:hover ~ .dd-item .dd-name a {
    color: #2ea8e5;
    background: #fff;
}
.nestable input{
    display: none;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        position: absolute;
        z-index: -1;
        top: -100%;
    }
    99% {
        opacity: 1;
        position: absolute;
        z-index: -1;
        top: 0;
    }
    100% {
        position: relative;
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        position: absolute;
        z-index: -1;
        top: 0;
    }

    100% {
        opacity: 0;
        top: -100%;
        z-index: -1;
    }
}
.nestable li ol{
    display: block;
    position: relative;
    z-index: 10;
/*    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;*/
}
.nestable li input:checked ~ ol{
    display: none;
/*    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;*/
}
.nestable li input:checked ~ label:before{
     content: "\f105";
}
.nestable li{
    position: relative;
    overflow: hidden;
}
.nestable label{
    position: absolute;
    top: 0;
    left: 0;
    width: 310px;
    height: 30px;
    padding-left: 7px;
    z-index: 1;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nestable label:before{
    content: "\f107";
}
.tpl_ttl strong{
    padding: 0 20px 0 5px;
    color: #8D8585;
    font-weight: bold;
    font-size: 15px;
}
.tpl_ttl span{
    color: #999;
    font-size: 14px;
}
.duty_item .well{
    margin-top: 2px;
    border-color: #dbe1e8;
    box-shadow: none;
}
.item_wrap{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.item_wrap{
    display: block;
    margin-bottom: 0;
    cursor: pointer;
}
.item_wrap .type-name{
    padding: 2px 0 0 0;
}
.hidden-control{
    position: absolute;
    top: 20px;
    left: 0;
    visibility: hidden;
    width:0;
    height: 0;
    overflow: hidden;
    border: none;
}

/*******************************/

.mt10{
    margin-top: 10px;
}
.control-label.text-left{
    text-align: left;
}
.store-item td:not(.action){
    /*cursor: pointer;*/
}

.data-item{
    cursor: pointer;
}
#data-table{

}
#data-table .data-item:hover td{
    background-color: #eaedf1;
}
.ui-dialog-body{
    padding-right: 27px;
}
.table{
    margin-bottom: 5px;
}
.ui-dialog-body .slimScrollDiv{
    left: 15px;
}

.add_btn{
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 28px;
    padding: 0;
    margin: 4px;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    background-color: #EEE;
    color: #AAA;
    border: 2px dotted #AAA;
    border-radius: 6px;
    text-align: center;
    outline: none;
    opacity: .5;
}
.add_btn:before{
    content: '+';
}
.add_btn:hover{
    opacity: 1;
}
.add_btn:active{
    opacity: 1;
    border-color: #2f92d4;
    color: #2f92d4;
}
.tips-block{
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 10px;
}
span.tips{
    float: left;
    line-height: 1em;
    padding: 8px;
    margin: 4px;
}
.tips a{
    color: #FFF;
}
.tips strong{
    margin-right: 7px;
}
.data-item .hi-ok{
    color: #60B800;
}
.data-item td:first-child{
    width: 40px;
}
#data-table thead>tr :nth-child(1){
    border-right-color: #FFF;
}
#data-table thead>tr :nth-child(2){
    border-left-color: #FFF;
}
.form-horizontal.data-search .form-group{
    margin-bottom: 10px;
}
.help-block{
    white-space: nowrap;
}
.mall-filter .search,
.adsdeposit .search,
.adsrent .search,
.buyads .search{
    position: relative;
    bottom: -10px;
}
.top-layer{
    z-index: 1000;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    opacity: .1;
    background: rgb(0, 0, 0);
}

/***************品牌*****************/
.img-50x50{ max-width: 50px; max-height: 50px;}
