<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!-- 引入属性配置文件 -->
	<bean class="org.ibase4j.core.util.PropertiesUtil">
		<property name="locations">
			<list>
				<value>${sys.jdbc.config.path}</value>
				<value>${system.config.path}</value>
			</list>
		</property>
		<property name="properties">
			<props>
				<!-- dubbo个性化配置(服务名,端口) -->
				<prop key="dubbo.application.name">${project.artifactId}</prop>
				<prop key="dubbo.protocol.port">1${server.port}</prop>
			</props>
		</property>
		<property name="decryptProperties">
			<array>
				<!-- 需要解密的配置 -->
				<value>db.reader.password</value>
				<value>db.writer.password</value>
			</array>
		</property>
	</bean>
	<!-- 扫描注解 -->
	<context:component-scan base-package="org.ibase4j">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!-- 引入SPRING配置文件 -->
	<import resource="spring/mq.xml"/>
	<import resource="spring/dubbo.xml" />
	<import resource="spring/redis.xml"/>
	<import resource="spring/dataSource.xml"/>
	<import resource="spring/scheduler.xml"/>
	<import resource="spring/mybatis.xml"/>
	<import resource="spring/*.xml"/>
</beans>