<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!-- 引入属性配置文件 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/mq.properties</value>
				<value>classpath:config/jdbc.properties</value>
				<value>classpath:config/redis.properties</value>
				<value>classpath:config/dubbo.properties</value>
			</list>
		</property>
		<property name="properties">
			<props>
				<prop key="dubbo.application.name">iBase4J-SYS-Service</prop>
			</props>
		</property>
	</bean>
	<!-- 扫描注解 -->
	<context:component-scan base-package="org.ibase4j">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!-- 引入SPRING配置文件 -->
	<import resource="spring/dubbo.xml" />
	<import resource="spring/redis.xml"/>
	<import resource="spring/dataSource.xml"/>
	<import resource="spring/mybatis.xml"/>
	<!-- <import resource="spring/*.xml"/> -->
</beans>