<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ibase4j.mybatis.sys.dao.SysUserExpandMapper">
	<sql id="baseColumns">
		sys_user.id_, sys_user.account_, sys_user.password_, sys_user.sex_,
		sys_user.user_name, sys_user.avatar_, sys_user.user_type,
		sys_user.dept_id, sys_user.locked_,
		sys_user.usable_, sys_user.phone_
	</sql>
	<resultMap id="BaseResultMap" type="org.ibase4j.mybatis.sys.model.SysUserBean"
		extends="org.ibase4j.mybatis.generator.dao.SysUserMapper.BaseResultMap">
   		<result column="dept_name" property="deptName" jdbcType="VARCHAR" />
	</resultMap>
	<select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="baseColumns" />
		,sys_dept.dept_name
		from sys_user left join sys_dept on sys_user.dept_id=sys_dept.id_
		where 1=1
		<if test="usable != null">and usable_=#{usable}</if>
		<if test="account != null">and account_=#{account}</if>
		<if test="password != null">and password_=#{password}</if>
		<if test="keyword != null">
			and (account_ like CONCAT('%',#{keyword},'%') or user_name like CONCAT('%',#{keyword},'%') or phone_ like CONCAT('%',#{keyword},'%'))
		</if>
	</select>
	<select id="queryUserIdByThirdParty" >
		select user_id from sys_user_thirdparty where 
		provider_=#{provider} and open_id=#{openId}
	</select>
</mapper>