<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ibase4j.mybatis.sys.dao.SysAuthorizeMapper">
	<delete id="deleteUserMenu">
		delete from sys_user_menu where user_id=#{userId}
	</delete>
	<delete id="deleteUserRole">
		delete from sys_user_role where user_id=#{userId}
	</delete>
	<delete id="deleteRoleMenu">
		delete from sys_role_menu where role_id=#{roleId}
	</delete>
	<select id="getAuthorize" resultType="org.ibase4j.mybatis.generator.model.SysMenu">
		select m.* from sys_menu m
		where exists (select 1 from sys_user_menu um where um.user_id=#{userId} and um.menu_id=m.menu_id)
		or exists (select 1 from sys_user_role ur join sys_role_menu rm on ur.role_id=rm.role_id
		 where ur.user_id=#{userId} and rm.menu_id=m.menu_id)
	</select>
</mapper>