.classifyParent {
    position: relative;
}
.classifyParent .classifyParentContent {
    display: none;
    position: absolute;
    overflow-y: auto;
    z-index: 999;
    border: 1px solid #ddd;
    max-height: 300px;
    background-color: #fff;
}