<!-- toaster directive -->
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<!-- / toaster directive -->

<!-- 导航条 -->
<div class="bg-white bread-crumb">
    <ul class="breadcrumb b-a m-b-n-xs lter b-b wrapper-md">
        <li><a ui-sref="main"><i class="fa fa-home"></i> 首页</a></li>
        <li><a ui-sref="main.sys.menu.list">菜单管理</a></li>
        <li class="active" ng-bind="title"></li>
    </ul>
</div>

<!-- 内容区域 -->
<div class="wrapper-md content">
    <div class="panel panel-default">
        <!-- 头部 -->
        <div class="panel-heading font-bold">{{title}}
        <a class="btn btn-sm btn-icon btn-rounded btn-default pull-right m-t-n-xs" ui-sref="main.sys.menu.list"><i class="text-md fa fa-times text-muted"></i></a>
        </div>
        <!--表单-->
            <div class="panel-body">
                <form class="form-horizontal"  name="user_form">
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-3 control-label" for="menuName">
                        <span class="text-danger wrapper-sm">*</span>菜单名称</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="menuName" id="menuName" placeholder="请输入菜单名称..." ng-model="record.menuName">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-3 control-label" for="request">
                        <span class="text-danger wrapper-sm">*</span>菜单地址</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="request" id="request" placeholder="请输入菜单地址..." ng-model="record.request">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-3 control-label" for="sortNo">排序</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="sortNo" id="sortNo" placeholder="请输入排序..." ng-model="record.sortNo">
                            <span class="help-block m-b-none"></span>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-3 control-label" for="phone">
                        <span class="text-danger wrapper-sm">*</span>上级菜单</label>
                        <div class="col-sm-6">
                            <div class="selects"></div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <!--btn-->
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-2">
                            <button type="reset" class="btn btn-default w-xs">重置</button>
                            <button type="submit" class="btn btn-info w-xs m-l-xl" ng-disabled="isDisabled">保存</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>
