<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!-- 引入属性配置文件 -->
	<bean class="top.ibase4j.core.support.context.PropertyPlaceholder">
		<property name="locations">
			<list>
				<value>classpath*:config/system.properties</value>
			</list>
		</property>
	</bean>
	<!-- 扫描注解 -->
	<context:component-scan base-package="org.ibase4j">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation" expression="org.springframework.cache.annotation.EnableCaching" />
	</context:component-scan>
	<!-- 引入SPRING配置文件 -->
	<!-- <import resource="spring/mq.xml"/> -->
	<!-- <import resource="spring/dubbo.xml" /> -->
	<!-- <import resource="refer/dubbo.xml" /> -->
	<import resource="spring/motan.xml" />
	<import resource="refer/motan.xml" />
	<import resource="spring/redis.xml" />
	<bean id="redisLockHelper" factory-bean="redisConfig"
		factory-method="redisLockHelper"
		c:redis-connection-factory-ref="redisConnectionFactory" />
	<!-- <import resource="spring/redisson.xml" /> -->
	<!-- 权限管理,作为APP服务端时不引用 -->
	<!-- <import resource="spring/shiro.xml" /> -->
</beans>